
<h2 class="text-center">Crear Tutorial</h2>

<hr/>

<div class="abs-center">
  <form class="border p-3 form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Titulo</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="tutorial.title" name="title" />
      </div>


      <div class="form-group">
        <label for="description">Descripcion</label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="tutorial.description"
          name="description" />
      </div>

      <br>

      <div class="col text-center">
        <button (click)="saveTutorial()" class="btn btn-primary" type="submit">Guardar</button>
      </div>
    </div>

    <div *ngIf="submitted">
      <h4 class="text-center">Tutorial creado con exito!</h4>
      <div class="col text-center">
        <button class="btn btn-success" (click)="createNewTutorial()">Crear Nuevo Tutorial</button>
      </div>
    </div>
  </form>
</div>